@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

:root {
  --clr-accent: hsl(355, 67%, 56%);
  --clr-light: hsl(10, 9%, 87%);
  --clr-dark: hsl(240, 9%, 13%);
  --clr-medium: hsl(177, 83%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--clr-dark);
}

body {
  background-color: var(--clr-light);
}

.container {
  font-size: 1.2rem;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 15rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.container > h1 {
  font-size: 2rem;
  color: var(--clr-accent);
  text-transform: uppercase;
}

.nav-bar {
  min-width: 100%;
}

.nav-bar > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-width: 100%;
  list-style: none;
}

.nav-bar > ul > li {
  font-weight: 800;
  width: 100%;
  flex: 1 0 30%;
  cursor: pointer;
  text-align: center;
}
.nav-bar > ul > li > a {
  display: block;
  text-decoration: none;
  font-size: 1.5 rem;

  padding: 2rem 1rem;
  color: var(--clr-light);
  background-color: var(--clr-medium);
  transition: background-color 100ms linear;
}

.nav-bar > ul > li > a:hover,
.nav-bar > ul > li > a:focus {
  background-color: var(--clr-accent);
}

@media (min-width: 850px) {
  .container > h1 {
    font-size: 2.5rem;
  }
  .nav-bar {
    height: 100%;
  }

  .nav-bar > ul {
    flex-direction: row;
  }
}
